Telekinesis/New folder/Telekinesis_Data/sharedassets0.assets.resS
*.resS
Telekinesis/New folder/Telekinesis_Data/sharedassets0.assets.resS
Telekinesis/New folder/Telekinesis_Data/sharedassets0.assets.resS
*.resS
